<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  <h1>
    Welcome to {{ title }}!!! 
  </h1>
  <h4>{{author}}</h4>

  <a routerLink="/LISTALLEMPLOYEES">List All Available Employees</a> | 
  <a routerLink="/ADDEMPLOYEE">Add Employee</a> | 
  <a routerLink="/ADDSKILLS">Add Skills</a> | 
  <a routerLink="/EDITEMPLOYEE"></a>  
  <a routerLink="/GETEMPLOYEE"></a> 
  
    
    
  <router-outlet></router-outlet>
  
  